.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 96px 64px;
  grid-column-gap: 20px;
}

nav > img {
  width: 100%;
  max-height: 92px;
  margin: auto;
}

nav > ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  font-family: Karla, sans-serif;
  font-weight: 500;
}

footer {
  background-color: #495e57;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 192px 128px 144 px;
  grid-column-gap: 20px;
}

footer > div {
  margin: auto;
}

footer > div > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

footer > div > p {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  font-family: Karla, sans-serif;
  color: white;
}

footer > div > ul > li {
  font-size: 20px;
  text-align: center;
  font-family: Karla, sans-serif;
  color: white;
}

footer > div > img {
  margin: auto;
  padding: 0;
  width: 100px;
}

main {
  background-color: #495e57;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 400px;
  grid-column-gap: 20px;
}

.specialsHeader {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 128px;
  margin: auto;
  align-items: center;
}

.specialsHeader > div {
  margin: auto;
}

.specialsMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 432px;
  margin: auto;
  grid-column-gap: 40px;
}

.specialsMain > div {
  height: 400px;
}

.specialsMain > div {
  background-color: #edefee;
}

.specialsMain > div > img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.specialsMain > div > p {
  margin: 10px 10px 10px 10px;
}

main {
  padding-top: 16px;
  padding-bottom: 16px;
}

main > div {
  padding: 0px;
}

main > div > img {
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialsMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 240px;
  margin: auto;
  grid-column-gap: 20px;
  background-color: #fbdabb;
  height: 304px;
}

.testimonialsHeading {
  margin: auto;
  text-align: center;
  background-color: #fbdabb;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
}
.tbRating {
  grid-column: 1 / 3;
  grid-row: 1;
  margin: auto;
  font-family: Karla, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.tbReview {
  grid-column: 1 / 3;
  grid-row: 3;
  margin: auto;
  font-family: Karla, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.tbImage {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  width: 100%;
  height: 100%;
}

.tbName {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
  font-family: Karla, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.testimonialsBox {
  border: 1px solid black;
  margin: auto;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 64px 80px 96px;
  border-width: 0px;
  background-color: white;
}

.testimonialsBox > p {
  text-align: center;
}

form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}

.specialsHeader > h1 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
}

.specialsItemHeader {
  font-family: "Markazi Text", serif;
  font-size: 24px;
  font-weight: 500;
}

.specialsItemPrice {
  font-family: "Markazi Text", serif;
  font-size: 24px;
  font-weight: 700;
  color: #ee9972;
}

.headerTitle {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  color: #f4ce14;
  font-weight: 500;
}

.headerSubtitle {
  font-family: "Markazi Text", serif;
  font-size: 32px;
  color: white;
  font-weight: 400;
}

.headerText {
  font-family: Karla, sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.headerButton {
  background-color: #f4ce14;
  border-width: 0px;
  height: 60px;
  width: 200px;
  border-radius: 16px;
  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.headerButton:hover {
  border: 2px solid black;
}

.specialsHeader > div > button {
  background-color: #f4ce14;
  border-width: 0px;
  height: 60px;
  width: 200px;
  border-radius: 16px;
  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
}

form {
  margin: auto;
  padding: 16px;
  gap: 8px;
  text-align: center;
  width: 960px;
  margin-bottom: 16px;
}

label {
  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

form > p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

form > input {
  text-align: center;
}

form > select {
  text-align: center;
}

input {
  height: 60px;
  width: 200px;
  padding: 0px;
  margin: 0px;
  border-radius: 16px;
  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.submitButton {
  border-width: 0px;
  height: 60px;
  width: 200px;
  border-radius: 16px;
  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  margin-top: 32px;
  background-color: #f4ce14;
  transition: 0.2s;
}

.submitButton:valid:hover {
  color: white;
  background-color: #495e57;
}

select {
  height: 60px;
  width: 200px;
  padding: 0px;
  margin: 0px;
  border-radius: 16px;
  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.bookingFormHeader {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  margin: auto;
  text-align: center;
  margin-top: 16px;
}

.about {
  display: grid;
  grid-column-gap: 20px;

  margin-top: 16px;
  margin-bottom: 16px;
}

.about > img {
  width: 100%;
  height: 384px;
}

footer > div > p {
  font-size: 18px;
  font-family: Karla, sans-serif;
  font-weight: 800;
}

footer > div > ul > li {
  font-size: 18px;
  font-family: Karla, sans-serif;
  font-weight: 500;
}

.bookingConfirmed {
  height: 456px;
}

.bookingConfirmed > h1 {
  text-align: center;
}

.bookingConfirmed > p {
  text-align: center;
}

@media only screen and (min-width: 960px) {
  nav {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 96px;
    padding: 0 calc((100% - 960px) / 2);
  }

  .about {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 800px;
    padding: 0 calc((100% - 960px) / 2);
  }

  .about > div {
    margin: auto;
    grid-column: 1/ 6;
  }

  .aboutImageBottom {
    margin: auto;
    grid-column: 9 / 13;
    grid-row: 1;
    object-fit: cover;
    padding-top: 128px;
    position: relative;
  }

  .aboutImageTop {
    margin: auto;
    grid-column: 7 / 11;
    grid-row: 1;
    object-fit: cover;
    padding-bottom: 128px;
    position: relative;
    z-index: 1;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
    padding: 0 calc((100% - 960px) / 2);
  }

  main {
    padding: 0 calc((100% - 960px) / 2);
  }

  footer > div > img {
    width: 200px;
  }

  .specialsHeader {
    padding: 0 calc((100% - 960px) / 2);
  }

  .specialsMain {
    padding: 0 calc((100% - 960px) / 2);
  }

  .testimonialsMain {
    padding: 0 calc((100% - 960px) / 2);
  }
}
